 <ion-view view-title="Home">
<ion-content>
    <h1>Hello</h1>

    <button class="button button-assertive">Start Game</button>
    

    <div id="start-game" on-touch="onTouch($event)" on-release="onRelease($event)">Start</div>
    <div id="stop-game" on-touch="onTouch($event)" on-release="onRelease($event)">Stop</div>

    <div id="circle-button1" on-touch="onTouch($event)" on-release="onRelease($event)"></div>
    <div id="circle-button2" on-touch="onTouch($event)" on-release="onRelease($event)"></div>

</ion-content>
   
</ion-view>
