 <ion-view view-title="Game">
  <ion-content class="game-container" scroll="false">

        
    <div class="drop-box">drop box</div>
    
<!-- 
    <div class="drop-container">
        <div class="card drop-card card__face"><h1>drop-card card__face</h1></div>
        <div class="card drop-card card__back"></div>
    </div>
 -->
    <td-card class="card"></td-card>
    <td-card></td-card>
    <td-card></td-card>
    <td-card></td-card>


<!-- <charades-app></charades-app> -->




  </ion-content>
</ion-view>
